.pastImg {
  position: relative;
  overflow: hidden;
}

.pastImg img {
  display: block;
  width: 100%;
  height: auto;
}

.pastImg .logo-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px; /* adjust size */
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.pastImg:hover .logo-hover {
  opacity: 1;
}
.pastprojectBox{border: 1px solid #DCA86A; padding: 10px 10px; margin-bottom: 20px; display: block;}
 .projectInfo h5{color:#292929;font-size: 1.5rem; font-weight: 600; text-transform: uppercase;}
  .projectInfo p{font-size: 1.25rem ; font-weight: 400;}

@media (min-width: 1200px){
  .projectInfo h5{font-size: 1.25vw;}
  .projectInfo p{font-size: 1.042vw;}


}


